<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/navbar.css">
    <link rel="stylesheet" href="./styles/forms.css">
</head>
<body>
    <%- include('./partials/navbar') %>
    <main>
        <h1>Upload files</h1>
        <form action="/folders/upload" method="post" enctype="multipart/form-data">
            <%- include('./partials/errors') %>
            <div>
                <label for="file">Upload files:</label>
                <input type="file" id="file" name="files" multiple />
            </div>
            <button>Submit</button>
        </form>
    </main>
</body>
</html>