main {
    padding: 0.5rem 10%;
    display: flex;
    gap: 1.5rem;
}

em {
    color: red;
}

.folders {
    display: grid;
    row-gap: 1rem;
}

.folders a  {
    text-decoration: none;
}

.folders a:hover {
    text-decoration: underline;
}



.folders a p {
    font-size: max(1rem, 1.3vw);
    transition: transform 250ms ease;
}

.folders a p:hover {
    transform: scale(1.2);
}

.info {
    font-size: max(0.9rem, 1.2vw);
    padding-bottom: 0.5rem;
    border-bottom: 1px solid grey;
}
.date, .size {
    font-size: max(0.7rem, 1.2vw);
}
.folder a {
    color: white;
}

.file a {
    color: red;
}

.folders > div:first-of-type {
    font-weight: bold;
}

.folders > div {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 2fr 3fr;
    align-items: center;
}

.folders > div svg {
    width: 1.7rem;
    fill: white;
    flex-shrink: 0;
}

.edit {
    justify-self: start;
    padding: 0.2rem;
}

.folders > div button, .edit {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 250ms ease;
}

.folders > div button:hover, .edit:hover {
    transform: scale(1.3);
    cursor: pointer;
    background-color: rgb(253, 95, 95);
    color: white;
}

.middle {
    border: 2px solid grey;
    border-radius: 15px;
    padding: 1rem;
    flex: 1;
    flex-shrink: 0;
}

.chain {
    padding: 1rem 15%;
    font-size: max(1.15rem, 1.7vw);
    font-weight: bold;
}

.chain p {
    display: inline-block;
    font-weight: bolder;
}

.link {
    padding: 0.8rem;
}

.link h4 {
    text-wrap: wrap;
    font-size: max(1rem, 1.2vw);
}

.link a {
    color: red;
    text-decoration: none;
}

.link a:hover{
    text-decoration: underline;
}

.forms .stop {
    border: none;
    padding: 0;
}

.forms .stop button {
    margin-top: 0;
}


.chain a {
    text-decoration: none;
    color: white;
}

.chain a:hover {
    text-decoration: underline;
}

.folders > div > a:first-of-type p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.folders > div > a:first-of-type {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.chain .current-folder {
    color: red;
}

.forms {
    width: 17rem;
}

.share > div {
    display: flex;
    justify-content: space-around;
}

.share > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms form {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 2px solid grey;
    border-radius: 15px;
}

legend {
    font-weight: bold;
}

.forms label {
    font-weight: bold;
}
.forms form:not(:first-of-type) input {
    width: 100%;
}

.forms form:first-of-type input {
    transform: scale(1.5);
    accent-color: red;
}

.forms form button {
    display: block;
    margin: auto;
    font-weight: bold;
    margin-top: 0.7rem;
    font-size: 1rem;
    padding: 3px 17px;
    border-radius: 10px;
    transition: transform 250ms ease;
}

.forms form button:hover {
    transform: scale(1.3);
    cursor: pointer;
    background-color: rgb(253, 95, 95);
    color: white;
}

input[type="text"] {
    background-color: rgb(208, 207, 207);

}

input {
    border-radius: 10px;
    font-size: 1rem;
    padding: 3px 5px;
    font-weight: bold;
}


input:focus, button:focus {
    outline-color: red;
    outline-style: solid;
    outline-width: 3px;
}




@media (max-width: 768px) {
    main {
        padding: 0.5rem;
        flex-direction: column;
    }

    .folders > div {
        grid-template-columns: 4.5fr 1fr 1fr 2fr 2fr;
    }
    
    .forms {
        width: 100%;
    }
    .chain {
        padding: 0.5rem;
    }
    aside {
        order: 2;
    }
    .middle {
        padding: 0.5rem;
    }
    .folders > div svg {
        width: 1.3rem;
        flex-shrink: 0;
    }
    .folders > div > a:first-of-type p {
        max-width: 32vw;
    }
    .info {
        text-align: center;
    }
    
}