em {
    color: red;
}

section {
    display: grid;
    row-gap: 1rem;
}

section > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

section > div svg {
    width: 1.2rem;
    fill: white;
}

section > div button {
    background: none;
    border: 2px solid white;
    cursor: pointer;
}


section > div > a {
    display: flex;
}

.current-folder {
    color: red;
}


main > h1 {
    text-align: center;
    font-size: max(1.4rem, 2.5vw);
    padding-top: 1rem;
}

@media (max-width: 768px) {
}