/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: #0e0e10;
    color: #ededed;
    font-family: 'Roboto','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.05rem);
}

a {
    color: #ededed;
}

main {
    flex: 1;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* p {
    text-wrap: pretty;
} */
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

input[type="file"]::file-selector-button {
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #363642;
  transition: filter 200ms ease;
  color: #ededed;
  cursor: pointer;
}


input[type="file"]::file-selector-button:hover {
  filter: brightness(1.2);
}